<section class="users-show">

  <header class="page-header">
    <h1>
      Hi!
    </h1>
  </header>

  <div class="panel panel-default">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">User Info</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
          </tr>
          <tr>
            <td><%= user.first_name %></td>
          </tr>
          <tr>
            <td><%= user.last_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</section>