// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// misc adjustment
.new_review {
  margin-top: 50px;
}

#review_description {
  width: 250px;
  height: 50px;
}
